# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
env/
venv/
ENV/

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Environment variables and secrets
.env
client_secrets.json

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Compiled C extensions
*.c
*.o
*.obj
*.dll
*.a
*.lib
*.exp
*.pdb

# Test and coverage
.coverage
.tox/
.nox/
.cache/
pytest_cache/
htmlcov/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
MANIFEST

# Misc
*.bak
*.swp
*.tmp